NOTION_TOKEN=
NOTION_SITE_TEXT_DATABASE_ID=
NOTION_CONTENT_DATABASE_ID=
PUBLIC_DEFAULT_LOCALE=ko
PUBLIC_SITE_BASE_PATH=/my-profile-site
PUBLIC_SITE_URL=https://lizill.github.io
STATICRYPT_PASSWORD=sample-passphrase
